/* mystyles.css */

table {
	width: 100px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

td {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.default {
    background-color: transparent;
/*     background-color: yellow; */
}

._error_ {
    background-color: red;
}

.oneLeft, .oneTwoEight {
	background-color: #808080; /* RGB:128,128,128 aka Gray */
}

.twoLeft, .oneFourFour {
	background-color: #909090; /* RGB:144,144,144 */
}

.threeLeft, .oneSixZero {
	background-color: #A0A0A0; /* RGB:160,160,260 */
}

.fourLeft, .oneSevenSix {
	background-color: #B0B0B0; /* RGB:176,176,176 */
}

.fiveLeft, .oneNineTwo {
	background-color: #C0C0C0; /* RGB:192,192,192 aka Silver */
}

.sixLeft, .twoZeroEight {
	background-color: #D0D0D0; /* RGB:208,208,208 */
}

.sevenLeft, .twoTwoFour {
	background-color: #E0E0E0; /* RGB:224,224,224 */
}

.eightLeft, .twoFourZero {
	background-color: #F0F0F0; /* RGB:240,240,240 */
}
